# General
*~
.DS_Store

# Data directory


# Documents
#*.rst
docs
#sphinx

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.egg-info
dist/
build/

# pyenv
.python-version

# dotenv
.env

# virtualenv
.venv/
venv/
ENV/

# Poetry
poetry.lock
poetry.toml

# Test
cellmap/CellMap_test_pancreas.ipynb
cellmap/*.csv
cellmap/data/*
cellmap/.ipynb_checkpoints
tutorial/data
tutorial/figures
tutorial/cache
tutorial/res
tutorial/.ipynb_checkpoints
figures/data/*
figures/.ipynb_checkpoints

# Others
.vscode
cellmap/.ipynb_checkpoints/CellMap_test_pancreas-checkpoint.ipynb
tutorial/.ipynb_checkpoints/CellMap_tutorial_bonemarrow-checkpoint.ipynb
tutorial/.ipynb_checkpoints/CellMap_tutorial_pancreas-checkpoint.ipynb
cellmap/.ipynb_checkpoints/CellMap_test_pancreas-checkpoint.ipynb
tutorial/.ipynb_checkpoints/CellMap_tutorial_bonemarrow-checkpoint.ipynb
tutorial/.ipynb_checkpoints/CellMap_tutorial_pancreas-checkpoint.ipynb
