# General
*~
.DS_Store

# Data directory


# Documents
#*.rst
docs
#sphinx

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.egg-info
dist/
build/

# pyenv
.python-version

# dotenv
.env

# virtualenv
.venv/
venv/
ENV/

# Poetry
poetry.lock
poetry.toml

# Test
cellmap/CellMap_test_pancreas.ipynb
cellmap/*.csv
cellmap/*.gif
cellmap/*.html
cellmap/data/*
cellmap/output
cellmap/.ipynb_checkpoints
tutorial/data
tutorial/figures
tutorial/cache
tutorial/res
tutorial/*.gif
tutorial/.ipynb_checkpoints
figures/data/*
figures/cache
figures/.ipynb_checkpoints
figures/old
figures/materials/*
figures/CellMap_Overview.ai

# Others
.vscode
cellmap/.ipynb_checkpoints/CellMap_test_pancreas-checkpoint.ipynb
cellmap/.ipynb_checkpoints/CellMap_test_pancreas-checkpoint.ipynb
tutorial/.ipynb_checkpoints/CellMap_tutorial_bonemarrow-checkpoint.ipynb
tutorial/.ipynb_checkpoints/CellMap_tutorial_pancreas-checkpoint.ipynb
tutorial/.ipynb_checkpoints/CellMap_tutorial_bonemarrow-checkpoint.ipynb
tutorial/.ipynb_checkpoints/CellMap_tutorial_pancreas-checkpoint.ipynb
*.ai
figures/materials/Fig_endo_08_Potential3D.png
figures/materials/Fig_hippo_02_Potential_flow.png
figures/materials/Fig_hippo_03_Rotational_flow.png
figures/materials/Fig_hippo_04_Potential.png
figures/materials/Fig_hippo_05_RNA_velocity_SL.png
figures/materials/Fig_hippo_06_Potential_flow_SL.png
figures/materials/Fig_hippo_07_Rotational_flow_SL.png
figures/materials/Fig_hippo_08_Potential3D.png
figures/materials/Fig_hippo_09_Trajectory.png
figures/materials/Fig_hippo_10_Gene_dynamics/Fig_hippo_10_Gene_dynamics_plot_Atp5e.png
figures/materials/Fig_hippo_10_Gene_dynamics/Fig_hippo_10_Gene_dynamics_plot_Cplx2.png
figures/materials/Fig_hippo_10_Gene_dynamics/Fig_hippo_10_Gene_dynamics_plot_Mt3.png
figures/materials/Fig_hippo_10_Gene_dynamics/Fig_hippo_10_Gene_dynamics_plot_Neurod2.png
figures/materials/Fig_hippo_10_Gene_dynamics/Fig_hippo_10_Gene_dynamics_plot_Sox4.png
figures/materials/Fig_hippo_11_Bifurcation_diagram.png
